@charset "utf-8";
body{
	font-family: sans-serif;
	line-height:1.7;
	color: #002a5a;
}
h1{
	font-size: 25px;
	padding-left: 1em;
}

h2{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
h3{
	font-size: 14px;
}
.arial{
	font-family: arial black;
	padding-left: 25px;
}

